<footer class="footer" style="font-size: 1.2rem">
  <section class="container">
    All content, except when noted, is <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> licensed.
    {{ if not .Site.Params.hideCredits}}
      {{ if not .Site.Params.hideCopyright }} · {{ end }}
      Powered by <a href="https://gohugo.io/">Hugo</a> & <a href="https://github.com/luizdepra/hugo-coder/">Coder</a>.
    {{ end }}
  </section>
</footer>