{{ define "content" }}
  <section class="container list">
    <h1 class="title">
      Posts
    </h1>
    <ul>
      {{ range .Paginator.Pages }}
        {{ if eq .Type "posts" }}
          <li>
            <span>{{ .Date.Format "January 2, 2006" }}</span>
            <a href="{{ .URL }}">{{ .Title }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
    {{ partial "pagination.html" . }}
  </section>
{{ end }}
